# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Virtual Environment
# --------------------
venv/

# --------------------
# Flask / Environment
# --------------------
.env
instance/

# --------------------
# Database
# --------------------
*.db

# --------------------
# IDE / Editor
# --------------------
.vscode/
